extends layoutBS

block content
  .jumbotron
  h1 Drinks


  .flex-container 
    each d in drinks
      div    
            img(width="100%" src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
            h5 #{d.dname}
            ul.list-group.list-group-flush
              li.list-group-item #{d.dorigin} Origin
              li.list-group-item $#{d.dprice}
              if status=='admin'
                //- a.btn.btn-primary(href='#') Delete
                    h1 List of All Drinks
                //- form(method="post" action="deleteDrinks")
                //-   each d in drinks
                //-         input(name="deleteName" value=drinks.name)
                //-         e #{drinks.name} --
                //-         i #{drinks.description}      
                input(type='submit' value="Delete").btn.btn-primary
              a.btn.btn-primary(href='#') Details  


  
  
  //- each d in drinks
  //-   .row
  //-     .col-sm-6
  //-       .card.bg-light.mb-3(style='max-width: 18rem;')
  //-         img.card-img-top(src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
  //-         h5.card-header #{d.dname}
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item #{d.dorigin} Origin
  //-           li.list-group-item $#{d.dprice}
  //-           a.card-link.btn.btn-primary(href='#') Details
  //-     .col-sm-6
  //-       .card.bg-light.mb-3(style='max-width: 18rem;')
  //-         img.card-img-top(src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
  //-         h5.card-header #{d.dname}
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item #{d.dorigin} Origin
  //-           li.list-group-item $#{d.dprice} 
  //-           a.card-link.btn.btn-primary(href='#') Details 
    