extends layoutBS

block content
  .jumbotron
  h1  Snacks


  .flex-container 
    each s in snacks
      div    
            img(width="100%" src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
            h5 #{s.sname}
            ul.list-group.list-group-flush
              li.list-group-item #{s.sorigin} Origin
              li.list-group-item $#{s.sprice}
              a.btn.btn-primary(href='#') Details  


  
  
  //- each s in snacks
  //-   .row
  //-     .col-sm-6
  //-       .card.bg-light.mb-3(style='max-width: 18rem;')
  //-         img.card-img-top(src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
  //-         h5.card-header #{s.dname}
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item #{s.dorigin} Origin
  //-           li.list-group-item $#{s.dprice}
  //-           a.card-link.btn.btn-primary(href='#') Details
  //-     .col-sm-6
  //-       .card.bg-light.mb-3(style='max-width: 18rem;')
  //-         img.card-img-top(src='https://clubedomalte.fbitsstatic.net/img/p/duff-355ml-63523/230376.jpg?w=460&h=460&v=no-change' alt='Card image cap')
  //-         h5.card-header #{s.dname}
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item #{s.dorigin} Origin
  //-           li.list-group-item $#{s.dprice} 
  //-           a.card-link.btn.btn-primary(href='#') Details 
    